<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="AddKeyskillTestcases">

        <classes>
            <class name="TestCases.AddKeyskillTestcases">
            </class>
        </classes>

    </test>
<!--    <test name="AddKeySkillsTestCases">-->
<!--        <classes>-->
<!--            <class name="TestCases.AddKeyskillTestcases">-->
<!--            </class>-->
<!--        </classes>-->

<!--    </test>-->
    <listeners>

        <listener class-name="Utilities.UserListeners"></listener>

    </listeners>

</suite>